h1, h2{font-family: "Poetsen One", sans-serif;
}
h1{font-size: 52px;
margin-top: 10px;
}
h2{font-size: 36px;
}
p, ul, ol{font-family: "Oswald", sans-serif;
font-size: 24px;
}
ul,ol{border: 6px solid black;
margin-right: 57em;
}
li{margin-bottom: 16px;
}
img{border: 5px solid black;
}
body{background-color: #bf8237;
}